body{
  background-color:white;
}
.center{
  text-align: center;
  background-color:grey;
}
.red{
  color: red;
}
.green{
  color: green;
}
input{
   height:100px;
   background-color:red;
   color: white;
   font-size: 14px;
   font-weight:bold;
}
